{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "ignore": ["third_party"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
  ]
}
